/* CSS Document */
.multisel {
  margin-top: 25px;
}
.multisel:first-child {
  margin-top: 0px;
}
.multisel > div {
  width: 250px;
}
.multisel > div {
    width: 100%;
}
.select2-drop {
	width: 100%;
	top:380px !important;
	border: medium none;
    box-shadow: none;
}
.select2-results li {
	float:left;
}